body {
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alkatra', cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
